@charset "utf-8";
body{ 
    color: #666666; 
    background-color: azure;
    font-family: sans-serif; 
    letter-spacing: 2px; 
    margin: 0; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2{
     font-size: 3rem; 
    font-family: Arial, sans-serif; 
    color: #000000; 
    border-left: 30px solid #d7301d; 
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}
strong{ 
        font-weight: normal;
        color: #ee7600;
} 
footer{ 
    text-align: right;
    background-color: cadetblue;
    color: #ffffff;
    padding: 10px 0;
} 
p{ 
    line-height: 2; 
} 
.header_box {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: ;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

main{
    padding: 30p 0x;
}
.header_box, main_box,footer-box{
    width: auto;
    margin: 0 auto;
}
h3{
    font-weight: normal;
    border-top: 1px solid #a2be67;
    border-bottom: 5px double #a2be67;
    padding: 5px;
    margin-bottom: 30px;
}
.item {
    width: auto; 
    margin-bottom: 30px;
    object-position: center;
}
.item_box {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}
.item img {
    border-radius: 30%;
}